@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2a9d8f   ;
  --secondary-color: #f4a261 ;
  --accent1-color: #e76f51;
  --accent2-color: #fff;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Kantumruy Pro', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: rgba(20, 30, 13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
p{
    width: 400px;
}
h1{
    text-align: center;
    grid-column: 1/3;
}
.title{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title-section p{
    justify-self: center;
}
.title-section{
    place-items: center;
    grid-row: 2/3;
}
.title-img{
    width: 400px;
    justify-self: center;
    grid-row: 1/2;

}
.happy p{
    justify-self: center;
}
.hydrate{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.hydrate-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;

}
.sleeping{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.sleeping-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;

}
footer {
    background-color: white;
    padding: 25px 50px;
    padding: 15px;
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #d9c2a3;
}
footer a {
    color: #d9c2a3;
    text-decoration: none;
}
footer a:hover {
    color: #d9c2a3;
}
footer p a:hover{
    text-decoration: underline;    
}
/* Page 2- Healthy Habits */

p{
    width: 400px;
}
h1{
    text-align: center;
    grid-column: 1/3;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.happy{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.happy-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;

}
.workout{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.workout-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;

}
.healthy-food{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.healthy-food-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;
}

/* Page 3- Improvement */
p{
    width: 400px;
}

h2{
    text-align: center;
    grid-column: 1/3;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.strength{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.strength-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;

}
.counseling{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.counseling-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;

}
.moving-forward{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.moving-forward-img{
    width: 400px;
    grid-column: 1/2;
    justify-self: right;
}

/* Page 4- Contact-us */
.contact-us{
    text-align: center;
    margin-top: 100px;
}
.contact-info p{
    font-size: 1em;
    margin-top: 100px;
    color: black;
}
.box{
    border-radius: 10px;
    padding: 20px;
}
.input-contact{
    height: 70vh;
    margin-top: 100px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color:rgba(20, 30, 13, .7);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
